body {
  font-family: 'Inter', sans-serif;
}

.main {
  min-height: 100vh;
  width: 100%;
  background-image: url("images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-position: 85% 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.extra{
  min-height: 100vh;
  width: 100%;
  background-image: url("F:/webd/front end challenges/coding-bootcamp-testimonials-slider-master/images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  display: flex;
  justify-content: center;
  align-items: center
}

.text-group {
  width: 120%;
  height: 400px;
  background-image: url("F:/webd/front end challenges/coding-bootcamp-testimonials-slider-master/images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-position: 19% 0%;
  color: hsl(240, 38%, 20%);
}

.text p {
  font-size: 32px;
  font-weight: 300;
}

.text-2 {
  display: flex;
  flex-direction: row;
}

.text-2 p {
  font-size: 20px;
  color: hsl(240, 18%, 77%);
  margin-right: 1rem;
}

.text-2 b {
  font-weight: 700;
  color: hsl(240, 38%, 20%);
}

.img-container img {
  border-radius: 10px;
  /* shadow box */
  -webkit-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.3);
}

.selector {
  display: flex;
  position: absolute;
  bottom: -28px;
  left: 75px;
}

.btn {
  height: 56px;
  width: 56px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center



}

.btn a {
  text-decoration: none;
}

.btn i {
  color: #bdc3c7;
  font-size: 20px;
  padding: 20px;
}

.btn i:hover {
  color: #fff;
}

.btn:hover {
  background: #8869D3;
  color: #fff;
}

.btn-left {
  border-radius: 50% 0 0 50%;
}

.btn-right {
  border-radius: 0 50% 50% 0;
}

#john {
  display: none;
}

@media (max-width:768px) {
  body {}

  .main {
    padding: 60px 35px;
    text-align: center;
    background-image: url("F:/webd/front end challenges/coding-bootcamp-testimonials-slider-master/images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-position: 50% 3.5%;
    background-size: 90%;
  }

  .extra{
    min-height: 100vh;
    width: 100%;
    background-image: url("F:/webd/front end challenges/coding-bootcamp-testimonials-slider-master/images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position: 0 800px;
    background-size: 90%;
  }

  .img-fluid{
    width: 87%;
  }

  .img-container {
    margin-bottom: 4rem;
  }

  .text-group {
    width: 100%;
    height: 420px;
    background-image: url("F:/webd/front end challenges/coding-bootcamp-testimonials-slider-master/images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 7%;
    background-size: 20%;
  }

  .text p {
    font-size: 22px;
    font-weight: 500;
  }

  .text-2 {
    display: flex;
    flex-direction: column;
  }

  .text-2 p {
    font-size: 18px;
    color: hsl(240, 18%, 77%);
  }

  .text-2 b {
    font-size: 20px;
  }

  .selector {
    width: 112px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -28px;
    transform: scale(0.8);
  }
}
